### UFO Predictions
#### Angel, Filis

#### 1. First, import the following libraries

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

#### 2. Connect to the database called ufo.db which was made from a csv file which was made from scraping the site:  http://www.nuforc.org/index.html

In [2]:
conn = sqlite3.connect('ufos.db')

In [3]:
c = conn.cursor()

#### 3. Grab all the data from the database ufo and save it as a dataframe table.

In [4]:
c.execute('''select * from populations''')
population_df = pd.DataFrame(c.fetchall())
population_df.columns = [i[0] for i in c.description]

In [7]:
population_df.head()

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AL,"4,785,448","4,798,834","4,815,564","4,830,460","4,842,481","4,853,160","4,864,745","4,875,120","4,887,871"
1,AK,"713,906","722,038","730,399","737,045","736,307","737,547","741,504","739,786","737,438"
2,AZ,"6,407,774","6,473,497","6,556,629","6,634,999","6,733,840","6,833,596","6,945,452","7,048,876","7,171,646"
3,AR,"2,921,978","2,940,407","2,952,109","2,959,549","2,967,726","2,978,407","2,990,410","3,002,997","3,013,825"
4,CA,"37,320,903","37,641,823","37,960,782","38,280,824","38,625,139","38,953,142","39,209,127","39,399,349","39,557,045"

In [8]:

column_names = population_df.columns

for column_name in column_names:
    population_df[column_name]=population_df[column_name].apply(lambda x: x.replace(',',''))
population_df.head()

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AL,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
1,AK,713906,722038,730399,737045,736307,737547,741504,739786,737438
2,AZ,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876,7171646
3,AR,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997,3013825
4,CA,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349,39557045

In [9]:
for column_name in column_names[1:]:
    population_df[column_name] = population_df[column_name].astype(int)
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 10 columns):
Geographic Area    51 non-null object
2010               51 non-null int64
2011               51 non-null int64
2012               51 non-null int64
2013               51 non-null int64
2014               51 non-null int64
2015               51 non-null int64
2016               51 non-null int64
2017               51 non-null int64
2018               51 non-null int64
dtypes: int64(9), object(1)
memory usage: 4.1+ KB

In [11]:
c.execute('''select * from ufos''')
ufo_df = pd.DataFrame(c.fetchall())
ufo_df.columns = [i[0] for i in c.description]
ufo_df.head()

,City,State,Shape,Duration,Summary,Date_Posted,Duration_sec,event_date
0,Cincinnati,OH,triangle,15 seconds,Large V/triangle-shaped craft that moved silen...,5/9/19,15.0,2019-05-09 21:15:00
1,Statesboro,GA,triangle,20 seconds,"Two UFO's near Statesboro, Ga. 11:00 PM 5-9-2019.",5/9/19,20.0,2019-05-08 23:00:00
2,Norfolk,VA,light,>10 minutes,"Extremely loud bang, light spotted in sky.",5/9/19,600.0,2019-05-08 23:00:00
3,Saint George,UT,other,1:30,Started noticing a huge flash of light @ aroun...,5/9/19,90.0,2019-05-08 01:30:00
4,Highlands,NC,light,1 minute,I have about 10 recordings from last night on ...,5/9/19,60.0,2019-05-08 01:00:00

In [13]:
ufo_df.head()

,City,State,Shape,Duration,Summary,Date_Posted,Duration_sec,event_date
0,Cincinnati,OH,triangle,15 seconds,Large V/triangle-shaped craft that moved silen...,5/9/19,15.0,2019-05-09 21:15:00
1,Statesboro,GA,triangle,20 seconds,"Two UFO's near Statesboro, Ga. 11:00 PM 5-9-2019.",5/9/19,20.0,2019-05-08 23:00:00
2,Norfolk,VA,light,>10 minutes,"Extremely loud bang, light spotted in sky.",5/9/19,600.0,2019-05-08 23:00:00
3,Saint George,UT,other,1:30,Started noticing a huge flash of light @ aroun...,5/9/19,90.0,2019-05-08 01:30:00
4,Highlands,NC,light,1 minute,I have about 10 recordings from last night on ...,5/9/19,60.0,2019-05-08 01:00:00

#### 4. Display the data from the database as a dataframe.

In [14]:
ufo_df.Duration_sec=ufo_df.Duration_sec.astype(float)

#### 5. Data Exploration and Cleaning.

In [ ]:
c.execute('''select * from ufos where state in ('DC','VA', 'MD') ''')
ufo_df_dc_metro = pd.DataFrame(c.fetchall())
ufo_df_dc_metro.columns = [i[0] for i in c.description]

In [ ]:
ufo_df_dc

In [ ]:
c.execute('''select * from ufos where state= 'CA' ''')
ufo_df_ca = pd.DataFrame(c.fetchall())
ufo_df_ca.columns = [i[0] for i in c.description]

In [ ]:
ufo_df.Duration_sec.isna().sum()

In [ ]:
ufo_df_ca.Duration_sec=ufo_df_ca.Duration_sec.astype(float)
ufo_df_dc_metro.Duration_sec=ufo_df_dc_metro.Duration_sec.astype(float)
fig = plt.figure(figsize=(10,8))
sns.distplot(ufo_df_ca[ufo_df_ca.Duration_sec<2000]['Duration_sec'], bins=50, label='CA')
sns.distplot(ufo_df_dc_metro[ufo_df_dc_metro.Duration_sec<2000]['Duration_sec'], bins=50, label='DC')
plt.semilogy(True)
plt.ylabel('Frequency of Sights')
plt.xlabel('Duration in Seconds')
plt.legend()
# plt.xlim(0,20000)

In [ ]:
ttest_ind(ufo_df_ca[ufo_df_ca.Duration_sec<2000]['Duration_sec'],
          ufo_df_dc_metro[ufo_df_dc_metro.Duration_sec<2000]['Duration_sec'] ,
          equal_var=False)

In [ ]:
# The p-value is less than 0.05 so we reject the null hypothesis and there is a
# difference between the duration of sightings in CA vs DC.

In [ ]:
len(ufo_df_ca.Duration_sec<2000)

In [ ]:
len(ufo_df_dc.Duration_sec<2000)

In [ ]:
# ufo_df

In [ ]:
ufo_df.Duration_sec=ufo_df.Duration_sec.astype(float)
fig = plt.figure(figsize=(10,8))
sns.distplot(ufo_df[(ufo_df.Shape=='light')&(ufo_df.Duration_sec<2000)]['Duration_sec'], bins=50, label='CA')
sns.distplot(ufo_df[(ufo_df.Shape=='circle')&(ufo_df.Duration_sec<2000)]['Duration_sec'], bins=50, label='DC')
plt.semilogy(True)
plt.ylabel('Frequency of Sights')
plt.xlabel('Duration in Seconds')
plt.legend()

In [ ]:
ttest_ind(ufo_df[(ufo_df.Shape=='light')&(ufo_df.Duration_sec<2000)]['Duration_sec'],
          ufo_df[(ufo_df.Shape=='circle')&(ufo_df.Duration_sec<2000)]['Duration_sec'] ,
          equal_var=False)

In [ ]:
ttest_ind(ufo_df[(ufo_df.Shape=='light')&(ufo_df.Duration_sec<100)]['Duration_sec'],
          ufo_df[(ufo_df.Shape=='circle')&(ufo_df.Duration_sec<100)]['Duration_sec'] ,
          equal_var=False)

In [ ]:
ttest_ind(ufo_df[(ufo_df.Shape=='light')]['Duration_sec'],
          ufo_df[(ufo_df.Shape=='circle')]['Duration_sec'] ,
          equal_var=False)

In [ ]:
ttest_ind(ufo_df[(ufo_df.Shape=='light')&(ufo_df.Duration_sec<2000)]['Duration_sec'],
          ufo_df[(ufo_df.Shape=='sphere')&(ufo_df.Duration_sec<2000)]['Duration_sec'] ,
          equal_var=False)

In [ ]:
ufo_df.Duration_sec=ufo_df.Duration_sec.astype(float)
fig = plt.figure(figsize=(10,8))
sns.distplot(ufo_df[(ufo_df.Shape=='sphere')&(ufo_df.Duration_sec<500)]['Duration_sec'], bins=50, label='CA')
sns.distplot(ufo_df[(ufo_df.Shape=='chevron')&(ufo_df.Duration_sec<500)]['Duration_sec'], bins=50, label='DC')
plt.semilogy(True)
plt.ylabel('Frequency of Sights')
plt.xlabel('Duration in Seconds')
plt.legend()

In [ ]:
ttest_ind(ufo_df[(ufo_df.Shape=='chevron')&(ufo_df.Duration_sec<500)]['Duration_sec'],
          ufo_df[(ufo_df.Shape=='sphere')&(ufo_df.Duration_sec<500)]['Duration_sec'] ,
          equal_var=False)

In [ ]:
ufo_df.Shape.value_counts()

### Plan

We have two questions already. 

Next Steps: 
1. Fix 15_20 duration and military time. 
2. Find Census data for population for CA and DC metro area for specific years. (3rd question)
3. Create db of the census data. 
4. How do the ufo shapes compare between 1960s vs 2000s? Does a certain shape last longer in 1960s vs now? 
5. Is there a difference between the number of sightings per population for a specific region for specific year/decade?

For DC metro and CA:

First Question: How does CA vs DC metro area differ in terms of number of durations? - bootstrap & ttest

1. From CA distribution, we pick 500 numbers randomly from those numbers we record the mean and the standard deviation. Repeat 1000 times. 

2. Plot a distribution plot of the means found in 1. This should look like a normal distribution. 

3. Repeat the same process for DC metro. 

4. Apply the t-test on the two new distributions. 

Second Question: How different are the durations between shapes? - (boot strap + ttest)

5. Choose two shapes and do 1-4 on those. This is the second question. 

6. Use CA group by year and count the number of events. 

Third Question: Number of sights per capital

Bootstrap for states

In [ ]:
ca_means = []
for i in range(1000):
    x_ca = np.random.choice(ufo_df_ca['Duration_sec'],size=500)
    ca_means.append(x_ca.mean())

In [ ]:
dc_means = []
for i in range(1000):
    x_dc = np.random.choice(ufo_df_dc_metro['Duration_sec'],size=500)
    dc_means.append(x_dc.mean())

In [ ]:
# ca_means

In [ ]:
fig = plt.figure(figsize=(10,8))
sns.distplot(ca_means, label='CA')
sns.distplot(dc_means, label='DC')
plt.ylabel('Frequency')
plt.xlabel('Mean Duration in Seconds')
plt.legend()

In [ ]:
ttest_ind(ca_means,
          dc_means ,
          equal_var=False)

The duration between east and west coast is the same, we do not reject the null hypothesis which was they are the same.

In [ ]:
np.array(ca_means).std()

In [ ]:
np.array(dc_means).std()

Checking out the shapes

In [ ]:
circle_means = []
for i in range(1000):
    x_circle = np.random.choice(ufo_df[ufo_df.Shape=='circle']['Duration_sec'],size=500)
    circle_means.append(x_circle.mean())

In [ ]:
triangle_means = []
for i in range(1000):
    x_triangle = np.random.choice(ufo_df[ufo_df.Shape=='triangle']['Duration_sec'],size=500)
    triangle_means.append(x_triangle.mean())

In [ ]:
fig = plt.figure(figsize=(10,8))
sns.distplot(circle_means, label='Circle')
sns.distplot(triangle_means, label='Triangle')
plt.ylabel('Frequency')
plt.xlabel('Mean Duration in Seconds')
plt.legend()

In [ ]:
ttest_ind(circle_means,
          triangle_means ,
          equal_var=False)

The null hypothesis was that people see them the same amount of time, but in this case people see circles longer.

### Joining with population_df etc.

In [20]:
c.execute('''select state, count(shape) as Counts from ufos group by state''')
ufo_df_groupstate = pd.DataFrame(c.fetchall())
ufo_df_groupstate.columns = [i[0] for i in c.description]
ufo_df_groupstate.head()

  State  Counts
0    AB     425
1    AK     456
2    AL     853
3    AR     730
4    AZ    3213

In [83]:
c.execute('''select state, counts as '2010' from 
            (select state, count(shape) as counts, strftime('%Y',event_date) as year from ufos 
            group by strftime('%Y',event_date), state)
            where year = '2010'
            ''')
ufo_df_groupstate = pd.DataFrame(c.fetchall())
ufo_df_groupstate.columns = [i[0] for i in c.description]
ufo_df_groupstate.head()

  state  2010
0    AB    19
1    AK    11
2    AL    20
3    AR    37
4    AZ    94

In [107]:
c.execute('''select state, count('y2010'), count('y2011') from
            (select state, 
            count(case when strftime('%Y',event_date) = '2010' then shape end) as 'y2010', 
            count(case when strftime('%Y',event_date) = '2011' then shape end) as 'y2011',
            strftime('%Y',event_date) as year from ufos 
            group by strftime('%Y',event_date), state)
            group by state
            ''')
ufo_df_groupstate = pd.DataFrame(c.fetchall())
ufo_df_groupstate.columns = [i[0] for i in c.description]
ufo_df_groupstate.head()

  state  count('y2010')  count('y2011')
0    AB              43              43
1    AK              50              50
2    AL              51              51
3    AR              59              59
4    AZ              60              60

In [113]:
c.execute('''
            select state, 
            count(case when strftime('%Y',event_date) = '2010' then shape end) as 'y2010', 
            count(case when strftime('%Y',event_date) = '2011' then shape end) as 'y2011',
            strftime('%Y',event_date) as year from ufos 
            group by strftime('%Y',event_date), state
          
            ''')
ufo_df_groupstate = pd.DataFrame(c.fetchall())
ufo_df_groupstate.columns = [i[0] for i in c.description]
ufo_df_groupstate[(ufo_df_groupstate.year>'2009')&(ufo_df_groupstate.State=='AB')&(ufo_df_groupstate.year<'2012')]

     State  y2010  y2011  year
2122    AB     19      0  2010
2182    AB      0     11  2011